{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Api Key: <input type="text" style="width: 300px;" value="{{ user.apiKey }}"></p>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
